@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Noto Medium';
  src: url('assets/fonts/Noto_Sans_JP/NotoSansJP-Medium.otf');
}

@font-face {
  font-family: 'Noto Regular';
  src: url('assets/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf');
}

:root {
  --dark: #414141;
  --darker: #2E2E2E;
  --gray: #777777;
  --white: #FFFFFF;
  --yellow: #FFCC21;
  --lightOrange: #FF963C;
  --orange: #EA6C00;
  --aqua: #8FE9D0;
  --gradient: linear-gradient(180deg, #FFCC21 0%, #FF963C 100%);

  --sideLeft: 50px;
  --sideRight: 50px;
}

body {
  margin: 0 !important;
  font-family: "Noto Regular", sans-serif;
}
